body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;

    div#container {
        height: 100vh;
        overflow-x: hidden;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;

        div.section {
            height: 100vh;
            scroll-snap-align: start none;
            background-color: aliceblue;

            h1 {
                margin: 0;
                text-align: center;
                font-size: 3.0em;
            }
        }

        div.section:last-child {
            scroll-snap-align: end none;
        }

        header {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;

            visibility: visible;
            display: block;
            text-align: center;
            
            a {
                text-decoration: none;
                border-radius: 15px;
                transition: background-color 0.5s ease;
                padding: 5px;

                &:hover {
                    background-color: lightblue;
                }
            }
            
            ul {
                font-size: 48px;
                background-color: lightcyan;
                box-shadow: 5px 5px 5px darkmagenta;

                display: inline-block;
                text-align: center;
                padding: 10px;
                margin: 0;
                border-bottom-right-radius: 4px;
                border-bottom-left-radius: 4px;
            }
        
            li {
                display: inline-block;
                text-decoration: none;
            }

            transition: transform 1.5s ease;
            
            
            &.hidden {
                transform: translateY(-200%);
            }
        }

        div.section#title {
            text-align: center;
            color: azure;

            display: flex;
            flex-direction: column;

            align-items: center;
            justify-content: center;

            background: fixed;
            background-size: cover;
            background-image: url("../images/milky-way-2695569_1280.jpg");

            h1, h2 {
                margin: 0;
            }

            h1 {
                font-size: 96px;
            }

            h2 {
                font-size: 72px;
            }

            button {
                color: aqua;
                border-color: aqua;
                border-radius: 50px;
                border-width: 5px;
                padding: 25px;
                padding-left: 150px;
                padding-right: 150px;

                background: transparent;
                font-size: x-large;
                border-style: solid;

                background-color: transparent;
                transition: background-color 1.0s ease;

                &:active {
                    color: lightcyan;
                    border-color: lightcyan;
                }
    
                &:hover {
                    background-color: rgb(37, 24, 43);
                }
            }
        }

        div.section#about {
            display: flex;
            flex-direction: row column;
            

            align-items: center;
            justify-content: center;

            h1 {
                text-align: center;
                font-size: 3.0em;
                width: 25vw;
            }

            p {
                font-size: 1.5em;
                width: 75vw;
            }
        }

        div.section#experience {
            text-align: center;
            p{
                text-align: center;
                font-size: 3.0em;
            }
        }

        div.section#education {
            text-align: center;
            p{
                text-align: center;
                font-size: 3.0em;
            }
        }

        div.section#projects {
            text-align: center;

            div#projects_container {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;

                div.project_section {
                    display: flex;
                    flex-direction: row;

                    background-color:bisque;
                    width: 48.5vw;
                    height: 25vh;

                    margin-left: 1vw;
                    margin-bottom: 1vw;

                    img {
                        width: min(25vw, 25vh);
                        height: min(25vw, 25vh);
                        object-fit: cover;
                        object-position: center;
                    }

                    div.project_text {
                        p {
                            text-align: justify;
                            margin: 15px;
                        }

                        h1 {
                            font-size: 36px;
                        }   

                        a {
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        div.section#skills {
            background: fixed;
            background-image: url("../images/matrix-5361690_1920.png");
            background-size: cover;

            text-align: center;

            
            h1 {
                text-shadow:    
                -3px -3px 0 black,  
                 3px -3px 0 black,
                -3px  3px 0 black,
                 3px  3px 0 black;
                color: greenyellow;
            }
            
            div#skills_container {
                height: auto;
                background-color: transparent;

                display: flex;
                flex-wrap: wrap;
                justify-content: center;


                flex-direction: row;
                align-content: flex-start;

                div {
                    width: max(23vw, 23vh);
                    height: max(23vw, 23vh);

                    margin: 0;
                    padding: 0;


                    border: 1px solid black;
                    border-radius: 15px;
                    border-right: 0;
                    border-bottom: 0;

                    h2 {
                        margin: 0;
                        font-size: 24px;
                    }
                    
                    img {
                        padding-top: 10px;

                        width: 80%;
                        height: 70%;
                    }
                }

                div#rust {
                    background-color: brown;
                    
                }

                div#wgpu {
                    background-color:cornflowerblue;
                }

                div#cpp {
                    background-color:deepskyblue;
                }

                div#opengl {
                    background-color: lightsteelblue;
                }

                div#js {
                    background-color: lightgoldenrodyellow;
                }

                div#css {
                    background-color: lightskyblue;
                }

                div#html {
                    background-color: lightcoral;
                }
            }
        }

        footer {
            text-align: center;
            align-items: center;
            justify-content: center;

            display: flex;
            flex-direction: row;

            height: 20vh;
            scroll-snap-align: end none;
            background-color: aliceblue;

            img {
                margin-left: 50px;
                width: 50px;
                height: auto;
            }

            div {
                width: 50vw;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    body {
        div#container {
            header {
                width: 100vw;
                height: 100vh;


                background-color: lightcyan;
                
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                visibility: hidden;

                ul {
                    width: auto;
                    height: auto;
                    box-shadow: none;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    li {
                        margin-bottom: 15px;
                    }
                }
            }

            div.section#title {
                h1 {
                    font-size: 48px;
                }

                h2 {
                    font-size: 24px;
                }
            }

            div.section#skills {
                h1 {
                    font-size: 24px;
                }

                div#skills_container {
                    div {
                        h2 {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}