body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;

    div#container {
        height: 100vh;
        overflow-x: hidden;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;

        div.section {
            height: 100vh;
            scroll-snap-align: start none;
        }

        div.section:last-child {
            scroll-snap-align: end none;
        }

        div.section#title {
            text-align: center;
            color: azure;

            display: flex;
            flex-direction: column;

            align-items: center;
            justify-content: center;

            background: fixed;
            background-size: cover;
            background-image: url("../images/milky-way-2695569_1280.jpg");

            h1, h2 {
                margin: 0;
            }

            h1 {
                font-size: 96px;
            }

            h2 {
                font-size: 72px;
            }

            button {
                color: aqua;
                border-color: aqua;
                border-radius: 50px;
                padding: 25px;
                background: transparent;
                font-size: x-large;
                border-style: solid;

                background-color: transparent;
                transition: background-color 1.0s ease;
            }

            button:active {
                color: lightcyan;
                border-color: lightcyan;
            }

            button:hover {
                background-color: rgb(37, 24, 43);
            }
        }

        div.section#skills {
            background: fixed;
            background-image: url("../images/matrix-5361690_1920.png");
            background-size: cover;

            text-align: center;

            
            h1 {
                margin: 0;
                padding: 15px;
            }
            
            div#skills_container {
                height: auto;
                background-color: transparent;

                display: flex;
                flex-wrap: wrap;
                justify-content: center;


                flex-direction: row;
                align-content: flex-start;

                div {
                    width: max(23vw, 23vh);
                    height: max(23vw, 23vh);

                    margin: 0;
                    padding: 0;


                    border: 1px solid black;
                    border-radius: 15px;
                    border-right: 0;
                    border-bottom: 0;

                    h2 {
                        margin: 0;
                        font-size: 24px;
                    }
                    
                    img {
                        padding-top: 10px;

                        width: 80%;
                        height: 70%;
                    }
                }

                div#rust {
                    background-color: brown;
                    
                }

                div#wgpu {
                    background-color:cornflowerblue;
                }

                div#cpp {
                    background-color:deepskyblue;
                }

                div#opengl {
                    background-color: lightsteelblue;
                }

                div#js {
                    background-color: lightgoldenrodyellow;
                }

                div#css {
                    background-color: lightskyblue;
                }

                div#html {
                    background-color: lightcoral;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    body {
        div#container {
            div.section#skills {
                h1 {
                    font-size: 24px;
                }

                div#skills_container {
                    div {
                        h2 {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}